/* Overwrite in your /assets/css/custom.css file */

#index-header {
  height: 70vh;
  background-image: url("/header_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  font-family: 
    "Kumbh Sans", /* Desired font */
    system-ui, -apple-system, BlinkMacSystemFont, /* San Francisco on macOS and iOS */
    "Segoe UI", /* Windows */
    "Ubuntu", /* Ubuntu */
    "Roboto", "Noto Sans", "Droid Sans", /* Chrome OS and Android with fallbacks */
    sans-serif, /* The final fallback for rendering in sans-serif. */
    "Noto Color Emoji", "Segoe UI Emoji", "Emoji"; /* Emoji support */
}

pre, code {
  font-family: 
    ui-monospace, /* San Francisco Mono on macOS and iOS */
    "Cascadia Mono", "Segoe UI Mono", /* Newer Windows monospace fonts that are optionally installed. Most likely to be rendered in Consolas */
    "Ubuntu Mono", /* Ubuntu */
    "Roboto Mono", /* Chrome OS and Android */
    Menlo, Monaco, Consolas, /* A few sensible system font choices */
    monospace; /* The final fallback for rendering in monospace. */
}

/* Keep optfigure images within reasonable bounds */
.optfigure img {
  max-width: 90%;
  height: auto;
  max-height: 80vh;
  margin: auto;
}
