/* Overwrite in your /assets/css/custom.css file */
@import url('https://fonts.googleapis.com/css?family=Overlock|Kumbh Sans&display=swap');

body {
  font-family: 'Kumbh Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Overlock', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#index-header {
  height: 70vh;
  background-image: url("/header_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

pre, code {
  font-family: 'Fantasque Sans Mono', 'Courier New', Courier, monospace;
}
